@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Press+Start+2P&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

img{
  max-width: 100%;
}

body{
    background-color: #d8f0f0;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-family: Arial, Helvetica, sans-serif;
}
    header{
      min-width: 100%;
      background-color: #282f37;
      padding: 1em 0em;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      }

    header h1{
      /* margin-left: 10px;
      justify-content: flex-end;
      font-style: italic; 
      display: inline-block;
      min-width: 100%; */
      /* flex: 1;
      text-align: center;
      font-family: 'Press Start 2P', fantasy; */
    }

    #Logo{
      flex: 1;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    #Logo a img{
      width: 4em;
      height: 2em;
    }

    #Logo a{
      color: whitesmoke;
      text-decoration: none;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 1em;
      letter-spacing: 0.25em;
      max-width: 20%;
    }

    #menu{
      flex: 3;
    }

    #menu a{
      text-decoration: none;
      color: whitesmoke;
      font-size: 1em;
      padding:  1em 1em;
      transition: 1s;
    }



    div.body-content{
        /** Altura do rodapé tem que ser igual a isso aqui e vice-versa **/
      padding-bottom: 55px;
    }

    footer{
      color: whitesmoke;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #282f37; 
        border: 3px; 
        box-shadow: 0px -2px #282f37;
        height: 55px;
        margin-top: 38%;
        width: 100%;
        bottom: 0;
        left: 0;
        position: static;
    }
    button{
    width: 10em;
    height: 2em;
    background-color: white;
    opacity: 0.5;
    border-radius: 10px;
    margin: 10px;
    
    /*Só um efeito (google)*/
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
button a{
    color: white;
    font-size: 22px;
    font-family: cursive;  
    text-decoration: none;
    opacity: 1.0;
}
button:hover{
   -webkit-animation: ani 0.5s linear;
   -webkit-animation-fill-mode: forwards;
   width: 130px;
   height: 30px;
   box-shadow: 5px 10px black;
}

nav button.active{
  color: white;
  background-color: #4682B4;
  opacity: 1.0;
}

@-webkit-keyframes ani{
    0%{
        width: 120px;
        height: 40px;
        opacity: 0.5;
    }
    100%{
        width: 130px;
        height: 50px;
        opacity: 1.0;
    }
    
}


